@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=IBM+Plex+Serif:wght@400;700&family=Rajdhani:wght@500&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --white-1: #ffffff;
  --black-1: #000000;
  --black-2: #30353e;
  --gray-1: #94989c;
  --gray-2: #979797;
  --blue-1: #4a90e2;
  --darkheading-1: #3d3f42;
}

body {
  background: var(--white-1);
}

section {
  padding: 100px 0;
}

@media only screen and (max-width: 768px) {
  section {
    padding: 50px 0;
  }
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

/* ------NAVIGATION----------- */
.nav-container {
  background: #ffffff;
  height: 72px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}

nav ul {
  display: flex;
}

nav .logo {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 60px;
  /* or 176% */

  letter-spacing: 0.541667px;
  background: linear-gradient(236.22deg, #fb7267 20.86%, #25218d 85.55%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-top: 53px;
  height: 50px;
}

.nav-items li {
  list-style: none;
  margin-right: 20px;
  margin-top: 70px;
  height: 23px;
}

.nav-items li a {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 20px;
  /* or 105% */

  color: #000000;
}

nav a {
  margin-top: 53px;
}

/* --------HERO SECTION---------- */

.hero-container {
  /* position: relative; */
}

header {
  display: flex;
  height: 361px;
  align-items: center;

  margin-top: 176px;
}
.hero-image {
  width: 801px;
}

.hero-content h1 {
  font-family: IBM Plex Serif;
  font-size: 57px;
  font-weight: 700;
  line-height: 81px;
  letter-spacing: 0px;
  width: 522px;
}

.hero-content p {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 29px;
  /* or 138% */

  color: #94989c;
}
.hero-content span {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 89px;
  /* identical to box height, or 170% */

  border: 3px solid rgba(251, 114, 103, 0.5);
}

.hero-content input {
  font-family: 'DM Sans';
  font-size: 23px;
  border: 1px solid #e9e9e9;
  box-shadow: 0px 20px 30px rgba(24, 30, 54, 0.035566);
  border-radius: 50px;
  width: 484px;
  position: relative;
  height: 66px;
  padding-left: 20px;
}

.hero-content a {
  text-decoration: none;
  color: red;
  position: absolute;
  top: 640px;
  left: 375px;
  width: 171px;
  height: 66px;
  color: #fbfbff;
}

/* ----------Dribble section-------- */
.dribble-container {
  margin-top: 175.73px;
}

.dribble-container h2 {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 500;
  font-size: 52px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.541667px;

  color: #3d3f42;
}
