@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=IBM+Plex+Serif:wght@400;700&family=Rajdhani:wght@500&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --white-1: #ffffff;
  --black-1: #000000;
  --black-2: #30353e;
  --gray-1: #94989c;
  --gray-2: #979797;
  --blue-1: #4a90e2;
  --darkheading-1: #3d3f42;
}

body {
  background: var(--white-1);
}

section {
  padding: 100px 0;
}

@media only screen and (max-width: 768px) {
  section {
    padding: 50px 0;
  }
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

img {
  max-width: 100%;

  object-fit: cover;
}

a {
  text-decoration: none;
}

/* ------NAVIGATION----------- */
.nav-container {
  background: #ffffff;
  margin-top: 53px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
}

nav .logo {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 60px;
  /* or 176% */

  letter-spacing: 0.541667px;
  background: linear-gradient(236.22deg, #fb7267 20.86%, #25218d 85.55%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.nav-items li {
  list-style: none;
  margin-right: 20px;
}

.nav-items li a {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 20px;
  /* or 105% */

  color: #000000;
}

.nav-items li a:hover {
  color: #4a90e2;
  transition: all 0.25s;
  cursor: pointer;
}

/* --------HERO SECTION---------- */

.hero-container {
  /* position: relative; */
}

header {
  display: flex;

  align-items: flex-start;

  margin-top: 70px;
}
.hero-image {
  position: relative;
  top: -50px;
}
.hero-content {
  width: 50%;
}
.hero-content h1 {
  font-family: IBM Plex Serif;
  font-size: 57px;
  font-weight: 700;
  line-height: 81px;
  letter-spacing: 0px;
}

.hero-content p {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 29px;
  padding: 10px;
  /* or 138% */

  color: #94989c;
}
.hero-content span {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 23px;

  /* identical to box height, or 170% */
  border: 3px solid rgba(251, 114, 103, 0.5);
  position: relative;
  top: -10px;
  bottom: 10px;
  height: 50px;
  left: 3px;
  width: calc(100% + 6px);
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
  top: -10px;
  bottom: 10px;
  height: 50px;
  left: 3px;
  width: calc(100% + 6px);
  text-align: center;
  display: flex;
  align-items: center;
}

.hero-content .double-border {
  border: 3px solid rgba(251, 114, 103, 0.5);
  width: fit-content;
  height: 50px;
  margin: 20px;
}

.hero-content input {
  font-family: 'DM Sans';
  font-size: 23px;

  box-shadow: 0px 20px 30px rgba(251, 251, 251, 0.036);
  border-radius: 50px;
  outline: none;

  position: relative;

  padding-left: 20px;
}

.hero-content a {
  text-decoration: none;
  color: red;
  position: absolute;
  top: 640px;
  left: 375px;
  width: 171px;
  height: 66px;
  color: #fbfbff;
}

/* ----------Dribble section-------- */
.dribble-container {
  margin-top: 175.73px;
}
.dribble-content {
  /* margin-left: 148px; */
}

.dribble-content .dribble-image {
  margin-top: 20px;
  width: 90%;
  text-align: center;
}

.dribble-container h2 {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 500;
  font-size: 52px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.541667px;

  color: #3d3f42;
}

/* ------------Middle container---------------- */

.middle-container {
  margin-top: 128px;
  align-items: center;
}

.middle-content {
  display: flex;
  justify-content: space-between;
  justify-content: space-between;
  flex-wrap: wrap;
}
.middle-content .middle-image {
  /* width: 48%; */
  margin: 2%;
  min-width: 500px;
  margin-bottom: 10px;
  flex: 1;
}
.middle-content img {
  width: 100%;
  padding-right: 87px;
}

.middle-content .middle-text {
  width: 48%;
}
.middle-text {
  width: 48%;
  display: flex;

  margin: 0px 2%;
  padding: 24px 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.middle-text span {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;

  margin-top: 183.33px;
  color: #cbcbcb;
}

.middle-text h2 {
  font-family: IBM Plex Serif;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0px;
  text-align: left;
  margin: 10px 0px;
  color: #222527;
}

.middle-text h3 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 32px;
  margin: 5px 0;
  color: #595b5f;
}

.middle-text p {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  /* or 178% */

  color: #8a919c;
}

.middle-text .btn-explore {
  font-size: 18px;
}
.middle-text a {
  padding: 15px;
  font-size: 18px;
}

.get-started h6 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 267px;
  color: #979797;
}

.get-started h2 {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 60px;
  /* or 115% */

  text-align: center;
  letter-spacing: 0.541667px;
  /* padding-left: 226.34px;
  padding-right: 217.66px; */

  color: #3d3f42;
}

.work-session {
  padding: 0px 70px;
}
.work-session h1 {
  margin-top: 4px;
}
.work-session h6 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 170%;
  /* identical to box height, or 24px */

  letter-spacing: 0.8px;
  text-transform: uppercase;

  color: #a6a6a6;
}

.work-session .work-text {
  display: flex;
  justify-content: space-between;
}
.work-paragraph-1,
.work-paragraph-2 {
  margin-top: 32px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  /* or 32px */

  /* Grayscale 900 Opacity/72% */

  color: rgba(18, 17, 39, 0.72);
}

.work-session button {
  margin-top: 64px;
}

.inner-footer {
  margin: 0;
  padding: 0;
  background: #ffffff;
}
.quick-links {
  display: flex;
  margin-top: 88px;
}

.quick-links ul {
  display: flex;
  width: 560px;
  height: 70px;
  margin: auto;
}

.quick-items {
  list-style: none;
}
.quick-items a {
  text-decoration: none;
  padding: 0 15px;
  font-size: 16px;
  color: rgba(18, 17, 39, 0.56);
}

.quick-items a:hover {
  color: #4a90e2;
  transition: all 0.25s;
}

.social-links {
  display: flex;
}

.social-links ul {
  display: flex;
  width: 300px;
  height: 30px;
  margin: auto;
}

.social-items {
  list-style: none;
}

.social-items a {
  padding: 10px 20px;
  font-size: 30px;
  color: rgba(18, 17, 39, 0.56);
  transition: all 0.25s;
}
.social-items a :hover {
  color: #4a90e2;
}

.outer-footer {
  padding: 15px;
  text-align: center;
  color: rgba(18, 17, 39, 0.56);
  font-size: 16px;
}

/*

.dribble-icons li {
  list-style: none;
  margin-right: 10px;
}

.dribble-text {
  margin-top: 23.08px;
}

.dribble-text ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dribble-text li {
  list-style: none;
  
  font-family: Rajdhani;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.529411792755127px;
  text-align: center;
 
  letter-spacing: 0.529412px;
  align-items: center;

  color: #8c8e91;
}

.dribble-subtitle {
  margin-top: 1.2px;
}

.dribble-subtitle ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dribble-subtitle li {
  list-style: none;
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
  color: #333448;
  align-items: center;
}

.dribble-subtitle li:nth-last-child(2) {
  color: red;
  padding-right: 20px;
} */
